.box {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: red;
    color: white;
}

.content {
    color: yellow;
    font-size: 1.5rem;
}

.newpara {
    background-color: blue;
}